@model PersonalSite_MVC.UI.MVC.Models.ContactViewModel

<div>
    @if (Model != null)
    {
        <h2>Thank you for your message.</h2>
        <p>We will respond to you as soon as possible!</p>
    }

</div>