@{
    ViewBag.Title = "Home Page";
}
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">SOMETHING I'D LIKE YOU TO KNOW</h2>
                    <p>
                        I am a web developer, artist, musician, craftsmen, mixologist, and a bar owner.
                    </p>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="50">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <h4 class="title"><a href="">What can i offer your team?</a></h4>
                        <p class="description">I have 27 years of managerial experience and have led teams while maintaining relevance and integrity. </p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="fa fa-paint-brush"></i></div>
                        <h4 class="title"><a href="">What are my skills and passions that may suit your company?</a></h4>
                        <p class="description">I have a background in art and design and have been trained in full stack web development. I would like to add to those skills. </p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="150">
                        <div class="icon"><i class="fa fa-handshake-o"></i></div>
                        <h4 class="title"><a href="">What can you expect from me?</a></h4>
                        <p class="description">I have a strong work ethic, am mindful of the feelings of others, and often utilize my sense of humor.   </p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Facts Section ======= -->
    <section id="fact">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Facts</h3>
                <p class="section-description">Here are some random factoids about me that it might have taken years or hours to learn about me ordinarily.</p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">5000</span>
                    <p>I love music, and I have this many vinyl albums that I would like to never have to move again.</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">100</span>
                    <p>It is with this much certainty percentage wise, that I will make pancakes for my daughter the following morning if I read her the Eric Carle book "Pancakes" that night.</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1,463</span>
                    <p>This is about how many times I have recounted tales of being a young indie rocker and getting to meet and collaborate with William S. Burroughs and other notable players in the counter culture.  </p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1</span>
                    <p>This is the number of jobs I have had over the last 27 years until I purchased that business as my own.</p>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->
    <!-- ======= Services Section ======= -->
    <section id="services">
        <div class="container" data-aos="fade-up">
            <div class="section-header" style="text-align:center">
                @*<h3 class="section-title">RESUME</h3>*@
                <a target="_blank" href="~/Content/JeremySidenerResume.pdf" class="btn-get-started dark-text">CLICK HERE TO VIEW JEREMY'S RESUME</a>

                <p class="section-description">SPECIALIZING IN THESE FIELDS AND SKILLS</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
                        <h4 class="title"><a href="">FRONT-END</a></h4>
                        <p class="description"> HTML5, CSS3, JavaScript</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                        <h4 class="title"><a href="">MIDDLE TIER</a></h4>
                        <p class="description">C# Fundamentals
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
                        <h4 class="title"><a href="">BACK END</a></h4>
                        <p class="description">SQL, XML, & JSON</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">Visual Studio 2017</a></h4>
                        <p class="description">Adept in Visual Studios Community Edition program languages</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
                        <h4 class="title"><a href="">TEAM ORIENTED</a></h4>
                        <p class="description">Integral in team motivation, and morale</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
                        <h4 class="title"><a href="">REMOTE LEARNER and WORKER</a></h4>
                        <p class="description">Well adapted to zoom, discord, skype, conferencing and communicating</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
        <div class="container">
            <div class="row" data-aos="zoom-in">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">I took this photograph!</h3>
                    <p class="cta-text">This is a photo of the North Lawrence grain elevator as seen from the west bank of the Kansas(KAW) river. I paused to take this photo on a run before class in early December. One needs to exercise their body as well as their mind, and a run near the river is a good respite from life's stresses!</p>
                </div>
                <div class="col-lg-3 cta-btn-container align-text-bottom">
                    <a class="cta-btn align-middle" href="#">BACK TO THE TOP</a>
                </div>
            </div>

        </div>
    </section><!-- End Call To Action Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Portfolio</h3>
                <p class="section-description">HERE IS A COLLECTION OF WORK I CREATED WHILE LEARNING AT CENTRIQ KC!</p>
            </div>
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                    <img src="~/Content/img/Screenshot WeJam.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>CHECK IT OUT!</h4>
                        <p> <a href="http://www.fed1.jeremysidener.com" class="portfolio-link">CLICK HERE FOR FED1 STUDIO PROJECT!</a></p>
                        @*<a href="fed1.jeremysidener.com" />
                <a href="" data-gall="portfolioGallery" class="venobox preview-link" title="STUDENT PROJECT"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                    <img src="~/Content/img/storefront.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>CHECK IT OUT!</h4>
                        <p> <a href="http://www.storefront.jeremysidener.com" class="portfolio-link">CLICK HERE FOR STOREFRONT PROJECT!</a></p>
                        @*<a href="fed1.jeremysidener.com" />
                <a href="~/Content/assets/img/Screenshot.png" data-gall="portfolioGallery" class="venobox preview-link" title="STUDENT PROJECT"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                    <img src="~/Content/img/p&w.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>CHECK IT OUT!</h4>
                        <p> <a href="https://github.com/JemReh1/PETERANDTHEWOLF/settings" class="portfolio-link">CLICK HERE FOR PETER AND THE WOLF CONSOLE GAME!</a></p>
                        @*<a href="fed1.jeremysidener.com" />
                <a href="~/Content/assets/img/images.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="STUDENT PROJECT"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                    <img src="~/Content/img/home.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>CHECK IT OUT!</h4>
                        <p> <a href="http://www.fsdp.jeremysidener.com" class="portfolio-link">CLICK HERE FOR FINAL PROJECT!</a></p>
                        @*<a href="fed1.jeremysidener.com" />
                <a href="" data-gall="portfolioGallery" class="venobox preview-link" title="STUDENT PROJECT"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Team Section ======= -->
    <section id="team">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Team</h3>
                <p class="section-description">This group had yet to meet each other until a few short months ago and quickly a bond formed between them and myself. All have shown integrity, perserverance, and patience while learning at Centriq!</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="pic"><img src="~/Content/img/Ben.png" alt=""></div>
                        <h4>Ben Slenker</h4>
                        <span>Leadership, motivational, professional, analytical  </span>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/bslenker/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="pic"><img src="~/Content/img/Rachel.png" alt=""></div>
                        <h4>Rachel Mantei</h4>
                        <span>Analytical, critical , resourceful, creative, and collaborative </span>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/rachel-mantei-0b0203b7/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="pic"><img src="~/Content/img/James.png" alt=""></div>
                        <h4>James Glover</h4>
                        <span>Software Developer, Collaborator, Creative Problem Solver</span>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/james-glover-126105135/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="~/Content/img/Dillon.png" alt=""></div>
                        <h4>Dillon Fisher</h4>
                        <span>Ascii art enthusiast, problem solver, entrepeneur </span>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/dillon-fisher-894462205/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="pic"><img src="~/Content/img/BC.jpg" alt=""></div>
                        <h4>Bryan Clingan II</h4>
                        <span>Highly adept coder, debugger, and warp speed learner. Student of the Month! </span>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/bryan-clingan-b091b4202/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="pic"><img src="~/Content/img/DS.jpg" alt=""></div>
                        <h4>Dylan Schwarz</h4>
                        <span>Hard working, team minded, dedicated professional  </span>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/dylan-schwarz-baa1b8181/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="pic"><img src="~/Content/img/David.png" alt=""></div>
                        <h4>David Muolo</h4>
                        <span>Passionate, highly focused, and motivated problem solver</span>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/david-muolo/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="~/Content/img/Dillon.png" alt=""></div>
                        <h4>ALSO Dillon Fisher</h4>
                        <span>Dillon goes to class twice each day he is so dedicated </span>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/dillon-fisher-894462205/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Contact</h3>
                <p class="section-description">I live in LAWRENCE, KANSAS, an oasis in the midwest.</p>
            </div>
        </div>



        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d49637.966694231305!2d-95.28606719999999!3d38.961152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1608069653112!5m2!1sen!2sus" width="2000" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="container mt-5">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>19** Ohio Street<br>Lawrence, Kansas 66046</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+1 913 321 2277</p>
                        </div>
                    </div>
                    <div class="social-links">
                        <a href="https://twitter.com/taproomlawrence?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/TaproomPoetry/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/explore/locations/32883086696/united-states/lawrence-kansas/eighth-street-taproom/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>

                        <a href="https://www.linkedin.com/in/jeremy-sidener-ab41241ba/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->